<aside class="sidebar">
  <div class="polls">
    <p>
      <a href="{{ site.baseurl }}/polls">Danish parliament voting intention - what would an election tomorrow look like?<!--Hvordan ville fordelingen af stemmer se ud, hvis der var folketingsvalg i morgen?--></a>
    </p>
    <script type="text/javascript" src="{{ site.baseurl }}/js/sidebar_polls.js"></script>
  </div>

  <hr><p>Like what you see?<br><a href="https://www.buymeacoffee.com/cookieblues">Buy me a coffee</a>.</p><hr>

  <div class="social-icons">
    <a target="_blank" href="https://twitter.com/OddCookieblues">{% include "blog/social-icon.html" with icon="Twitter" %}</a>
    <a target="_blank" href="https://cookieblues.medium.com">{% include "blog/social-icon.html" with icon="Medium" %}</a>
    <a target="_blank" href="https://buymeacoffee.com/cookieblues">{% include "blog/social-icon.html" with icon="Buymeacoffee" %}</a>
  </div>
</aside>
